div {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

h2 {
    font-size: 1.5em;
    color: #333;
    font-size: 30px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 15px;
}

img {
    width: 130px;
    margin-right: 10px;
}

li img {
    cursor: pointer;
}

li img:hover {
    opacity: 0.8;
}