<div class="container">
    <ng-container *ngIf="auth.currentUser?.email; else loggedOut">
      <div class="content">
        <div class="button-grid">
          <button mat-raised-button color="warn" (click)="CerrarSession()">Cerrar Sesión</button>
          <button mat-raised-button routerLink="/quien-soy">Sobre Mí</button>
          <i class="material-icons" (mouseover)="mostrarTexto()" (mouseleave)="ocultarTexto()">account_circle</i>
          <div *ngIf="mostrarTooltip" class="tooltip">{{auth.currentUser?.email}}</div>
        </div>
        <div class="image-container">
          <img src="../../../assets/cartas.png" alt="Foto Alumno">
          <img src="../../../assets/dice.png" alt="Foto Alumno">
        </div>
        <div class="image-container">
            <img src="../../../assets/mozart.png" alt="Foto Alumno">
            <img src="../../../assets/Ahorcado.png" alt="Foto Alumno">
        </div>
      </div>
    </ng-container>
    <ng-template #loggedOut>
      <div class="content">
        <div class="button-grid">
          <button mat-raised-button color="accent" routerLink="/login">Loguearse</button>
          <button mat-raised-button routerLink="/registrarse">Registrarse</button>
        </div>
      </div>
    </ng-template>
  </div>
  