.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  
.border {
    border: 4px solid #615305;
    border-radius: 10px; 
}
  
.boton {
    width: 100%;
    margin-top: 5px;
}

.texto{
    margin-left: 135px;
}

.inputClave{
    margin-left: 10px;
}