<div class="button-grid">
    <button mat-raised-button (click)="MostrarBaja()" [disabled]="!mostrarBotones">Eliminar Helado</button>
    <button mat-raised-button (click)="MostrarModificacion()" [disabled]="!mostrarBotones">Modificar Helado</button>
    <button mat-raised-button (click)="AbrirRuta('/home')">Volver</button>
    <button mat-raised-button color="warn" (click)="CerrarSession()">Cerrar Sesión</button>
    <i class="material-icons" (mouseover)="mostrarTexto()" (mouseleave)="ocultarTexto()">account_circle</i>
    <div *ngIf="mostrarTooltip" class="tooltip">{{auth.currentUser?.email}}</div>
  </div>
<div class="contenedor">
  <form [formGroup]="form" (ngSubmit)="AltaHelado()">
    <h2>Ingresar Un Helado</h2>
      <div class="dato">
        <mat-form-field appearance="fill">
            <mat-label class="form-label" for="sabor">Sabor</mat-label>
        <input matInput type="text" class="form-control" id="sabor" formControlName="sabor">
        <ng-container *ngIf="sabor?.hasError('pattern')">
          <small class="text-danger">Sólo debe contener letras</small>
        </ng-container>
        </mat-form-field>
      </div>

      <div class="dato">
        <mat-form-field appearance="fill">
            <mat-label class="form-label" for="tipo">Tipo</mat-label>
        <input matInput type="text" class="form-control" id="tipo" formControlName="tipo">
        <small class="text-danger">
          {{tipo?.getError('noCoincide')}}
        </small>
        </mat-form-field>
      </div>
  
      <div class="dato">
        <mat-form-field appearance="fill">
            <mat-label class="form-label" for="precio">Precio</mat-label>
        <input matInput type="number" class="form-control" id="precio" formControlName="precio">
        <ng-container *ngIf="precio?.hasError('min')">
          <small class="text-danger">El precio no puede ser negativo</small>
        </ng-container>
        </mat-form-field>
        
      </div>
  
      <div class="dato">
        <mat-form-field appearance="fill">
            <mat-label class="form-label" for="peso">Peso</mat-label>
            <input matInput type="number" class="form-control" id="peso" formControlName="peso">
            <ng-container *ngIf="peso?.hasError('min')">
                <small class="text-danger">El peso debe ser mínimo 250</small>
            </ng-container>
            <ng-container *ngIf="peso?.hasError('max')">
                <small class="text-danger">El peso debe ser máximo 1000</small>
            </ng-container>
        </mat-form-field>
      </div>

    <div class="dato">
      <button mat-raised-button type="submit" class="form-button" [disabled]="!form.valid">Enviar</button>
    </div>
  </form>
    <button mat-raised-button class="form-button" (click)="CancelarModificacion()">Cancelar Modificacion</button>
    <button mat-raised-button class="form-button" (click)="CancelarBaja()">Cancelar Baja</button>
</div>
<div class="modificar" *ngIf="mostrarModificacion">
    <app-helado-modificacion [helado]="helado"></app-helado-modificacion>
</div>
<div class="modificar" *ngIf="mostrarBaja">
  <app-helado-baja [helado]="helado"></app-helado-baja>
</div>