<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 border p-4">
            <div class="cards">
                <div *ngFor="let card of cartas; let i=index">
                    <ng-container *ngIf="i === 0 || (i === 1 && mostrarSegundaCarta)">
                        <img [src]="card.image" alt="Card">
                    </ng-container>
                </div>             
            </div>
            <div class="botones">
                <button mat-raised-button color="accent" (click)="CompararCartas(true)" [disabled]="desabilitarBotones">Es Mayor</button>
                <button mat-raised-button color="accent" (click)="CompararCartas(false)"[disabled]="desabilitarBotones">Es Menor</button>
            </div>
            <div class="botonVolver">
                <button mat-raised-button color="primary" (click)="Volver()">Volver</button>
            </div>
        </div>
    </div>
</div>


  